.page-header {
  width: 100%;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767.98px) {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__logo {
  margin-right: 88px;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.page-header__nav {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.page-header__contacts {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.page-header__menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
