.team__list {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: -30px;
  }
}

.team__title {
  @media screen and (max-width: 1199.98px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.team__item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    @media screen and (max-width: 767.98px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }
}

.team__container {
  @media screen and (max-width: 1199.98px) {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team__subtitle {
  margin-bottom: 10px;
  @include font(16px, 500, 1.19, 0.03em);
  text-align: center;
}

.team__text {
  margin-bottom: 16px;
  @include font(16px, null, 1.19, 0.03em);
  text-align: center;
  color: var(--secondary-text-color);
}
