.contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts__item + .contacts__item {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (max-width: 767.99px) {
    display: none;
  }
}

.contacts__link {
  display: flex;
  padding: 16px 0;
  align-items: center;
  @include font(24px, 500, 1.17, 0.02em);
  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    padding: 5px 0;
    @include font(12px, 500, 1.17, 0.02em);
    color: var(--secondary-text-color);
    transition: color var(--transition-duration-timing);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 32px 0;
    @include font(14px, 500, 1.14, 0.02em);
  }
}

.contacts__link--tel {
  @include font(34px, 500, 1.18, 0.02em);
  color: var(--accent-color);
}
