.nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav__item:nth-child(n + 2) {
  @media screen and (min-width: 768px) {
    margin-left: 50px;
  }
}

.nav__link {
  display: flex;
  padding: 16px 0;
  align-items: center;
  @include font(40px, 500, 1.18, 0.02em);
  color: var(--primary--text-color);
  transition: color var(--transition-duration-timing);

  @media screen and (min-width: 768px) {
    padding: 32px 0;
    @include font(14px, 500, 1.14, 0.02em);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    &::after {
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      position: absolute;
      bottom: 0;
      background-color: var(--accent-color);
    }
  }
}
